<div class="container">
  <h1 class="text-center mt-4">Team: <%= @team.name %></h1>
  <h1 class="text-center mt-4"><p>Description: <%= @team.description %></p></h1>
  <p class="text-center mt-4"><strong>Team Manager: <%= @team.manager.name %></strong>&nbsp;&nbsp;&nbsp;&nbsp;
  <% if @team.members.include?(current_user) %>
    <%= link_to "Leave Team", leave_team_team_path(@team), method: :delete, data: { confirm: "Are you sure you want to leave this team?" }, class: "btn btn-danger" %>
  <% end %></p>
  <h3 class="text-center mt-4">Members : <%= @team.members.count %></h3>
  
  <% if @team.manager == current_user || current_user.admin? %>
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @team.members.each do |member| %>
          <tr>
            <td scope="row"><%= member.name %></td>
            <td scope="row">
            <% if @team.manager != member %>
              <%= link_to "Remove", remove_member_team_path(@team, user_id: member.id), method: :delete, data: { confirm: "Are you sure you want to remove this member from the team?" }, class: "btn btn-danger" %>
            <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-group row justify-content-center form-label">
    <% if @team.manager != current_user %>
      <% unless @team.members.include?(current_user) %>
        <%= link_to "Join Team", join_team_path(@team), method: :post, class: "btn btn-primary", style: "width: 100px;" %>
      <% end %>
    <% end %>
  </div>

  <% if @team.members.include?(current_user) || @team.manager == current_user || current_user.admin? %>
    <%= form_with(model: @note, url: create_note_team_path(@team), method: :post) do |form| %>
      <%= form.label :title, "Title" %>
      <%= form.text_field :title, class: "form-control", placeholder: "Enter a title for the note", required: true %>
    
      <%= form.label :content, "Content" %>
      <%= form.text_area :content, class: "form-control", placeholder: "Add a note...", required: true %>
    
      <%= form.label :access_level, "Access Level" %>
      <%= form.select :access_level, options_for_select(Note.access_levels_options, "access_public"), class: "form-control" %>
    
      <%= form.submit "Add Note", class: "btn btn-primary mt-2" %>
    
  
    <div class="container" style="max-width: 1250px;">
      <%= render 'note' %>
    </div>
  </div>
  <% end %>
<% end %>
<br><br><br><br>
