<div class="container" >
<h1 class="text-center mt-4">YOUR TEAMS</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Team Name</th>
        <th scope="col">Description</th>
        <th scope="col">Team Manager</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.teams.each do |team| %>
        <tr>
          <td scope="row"><strong><%= team.name %></strong> (Members: <%= team.members.count %>)</td>
          <td scope="row"><%= team.description %></td>
          <td scope="row"><strong><%= team.manager.name %></strong></td>
          <td scope="row"><%= link_to "View More", team_path(team), class: "btn btn-primary" %>
              <% if team.members.include?(current_user) %>
                <%= link_to "Leave Team", leave_team_team_path(team), method: :delete, data: { confirm: "Are you sure you want to leave this team?" }, class: "btn btn-danger" %>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
  <h1 class="text-center mt-4">ALL TEAMS</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Team Name</th>
        <th scope="col">Description</th>
        <th scope="col">Team Manager</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td scope="row"><strong><%= team.name %></strong> (Members: <%= team.members.count %>)</td>
          <td scope="row"><%= team.description %></td>
          <td scope="row"><strong><%= team.manager.name %></strong></td>
          <td scope="row">
            <%= link_to "View More", team_path(team), class: "btn btn-primary" %>
            <% if team.manager != current_user %>
              <% unless team.members.include?(current_user) %>
                <%= link_to "Join Team", join_team_path(team), method: :post, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Visited URLs Report", reports_visited_urls_path	, class: "btn btn-primary" %>
  <%= link_to 'View Activity Feed', activity_feed_user_path(current_user) , class: "btn btn-primary"%>

</div>