<div class="activity-feed">
  <div class="container">
    <h1 class="text-center mt-4">Activity Feed</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User</th>
          <th>Action</th>
          <th>Page URL</th>
          <th>Date</th>
          <th>Time (Indian Time)</th>
          <th>Time Spent</th>
          <th>Inactive Time</th>
        </tr>
      </thead>
      <tbody>
        <% sorted_activities = @activities.sort_by(&:created_at).reverse %>
        <% previous_activity_time = nil %>
        <% sorted_activities.each do |activity| %>
          <tr>
            <td><strong><%= activity.owner.name %></strong></td>
            <td><%= activity.key %></td>
            <td><%= activity.parameters %></td>
            <td><%= activity.created_at.in_time_zone('Asia/Kolkata').strftime('%Y-%m-%d') %></td>
            <td><%= activity.created_at.in_time_zone('Asia/Kolkata').strftime('%H:%M:%S %p') %></td>
            <td>
              <% if previous_activity_time %>
                <% time_difference = previous_activity_time - activity.created_at %>
                <% days = (time_difference / 1.day).to_i %>
                <% hours = (time_difference % 1.day / 1.hour).to_i %>
                <% minutes = (time_difference % 1.hour / 1.minute).to_i %>
                <% seconds = (time_difference % 1.minute).to_i %>
                <% time_spent = [] %>
                <% time_spent << "#{days} days" if days > 0 %>
                <% time_spent << "#{hours} hours" if hours > 0 %>
                <% time_spent << "#{minutes} minutes" if minutes > 0 %>
                <% time_spent << "#{seconds} seconds" if seconds > 0 || time_spent.empty? %>
                <%= time_spent.join(', ') %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td>
              <% if previous_activity_time %>
                <% inactivity_seconds = activity.created_at - previous_activity_time %>
                <% inactivity_duration = ActiveSupport::Duration.build(inactivity_seconds) %>
                <% inactivity_parts = inactivity_duration.parts.reject { |part, value| value.zero? } %>    
                <% if inactivity_parts.empty? || inactivity_seconds < 30 %>
                  0 seconds
                <% else %>
                  <%= inactivity_parts.map { |part, value| "#{value.to_i} #{part.to_s.pluralize(value.to_i)}" }.join(', ') %>
                <% end %>              
              <% else %>
                0 seconds
              <% end %>          
            </td>

          </tr>
          <% previous_activity_time = activity.created_at %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br><br><br>