<h1>All Users</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <% if current_user.admin? && user != current_user %>
            <% if user.manager? && user.teams_exist? %>
              <p><strong>User is a manager of a team. Role update is disabled.</strong></p>
            <% else %>
              <%= form_tag update_role_path(id: user.id), method: :patch, class: 'form-inline' do %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= select_tag 'user[role]', options_for_select(User.roles.keys, user.role), include_blank: 'member', class: 'form-control' %>
                <%= button_tag "Update", type: "submit", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          <% else %>
            <%= user.role.capitalize %>
          <% end %>
        </td>
        <td>
          <%= link_to 'View Teams', teams_user_path(user), class: 'btn btn-primary' %>
          <% if current_user.admin? && user != current_user %>
            <% if user.manager? && user.teams_exist? %>
              <p><strong>User is a manager of a team. Delete action is disabled.</strong></p>
            <% else %>
              <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
