<h2 class="text-center mt-4">Change your password</h2>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group row form-label">
              <%= f.label :password, "New password" %><br />
              <div class="col-12">
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "col-12 form-control shadow rounded" %>
              </div>
          </div>

          <div class="form-group row form-label">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <div class="col-12">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-12 form-control shadow rounded"  %>
            </div>
          </div>

          <div class="form-group row justify-content-center form-label">
            <%= f.submit "Change my password", class: "btn-md btn btn-success" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
